@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0B233F;
}

.primary-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #253952;
    border-radius: 46px;
    box-shadow: 3px 8px 17px 0px rgba(0,0,0,0.76);
    -webkit-box-shadow: 3px 8px 17px 0px rgba(0,0,0,0.76);
    -moz-box-shadow: 3px 8px 17px 0px rgba(0,0,0,0.76);
}